.bundle
.DS_Store
.sass-cache
.gist-cache
.pygments-cache
_deploy
public
sass.old
source.old
source/_stash
source/stylesheets/screen.css
vendor
node_modules
.preview-mode

.fake
.ionide
.vscode
__pycache__

.idea
WIP
docs/wiki
!qiita/public

ops/docker/mssql/log
ops/docker/mssql/data

.junie
.github
!.github/workflows